
.App {
  display: flex;
  flex-direction: row;
}


.pop-up {
  min-width: 300px;
  height: 400px;
  position: fixed;
  transform: translate(-50%, -50%) scale(1);
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;

  z-index: 9999;
  pointer-events: auto;
  padding: 1rem;
  background-color: white;
  box-shadow: var(--soft-box-shadow);
  border-radius: var(--border-radius);
  transition: var(--default-transition);
}

.pop-up.hide {
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
}

.overlay {
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 250ms ease-in-out;
  opacity: 1;
  z-index: 100;

  pointer-events: all;
}

.overlay.hide {
  opacity: 0;
  pointer-events: none;
}


.carousel-wrapper {
  position: relative;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  flex-direction: row;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}


.carousel-control-prev,
.carousel-control-next {
  background: transparent;
  border: none;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  pointer-events: all;

  &:focus {
    outline: none;
  }
}

.carousel-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  transform: translateY(-50%);
  pointer-events: none;
  align-items: center;
  justify-content: center;
}


.loading-box {
  background: lightgray;
  animation: loadingPulse 3s infinite linear;
  aspect-ratio: 1 / 1;
}

@keyframes loadingPulse {

  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}