
.App {
  display: flex;
  flex-direction: row;
}


.pop-up {
  min-width: 300px;
  height: 400px;
  position: fixed;
  transform: translate(-50%, -50%) scale(1);
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;

  z-index: 9999;
  pointer-events: auto;
  padding: 1rem;
  background-color: white;
  box-shadow: var(--soft-box-shadow);
  border-radius: var(--border-radius);
  transition: var(--default-transition);
}

.pop-up.hide {
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
}

.overlay {
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 250ms ease-in-out;
  opacity: 1;
  pointer-events: all;
}

.overlay.hide {
  opacity: 0;
  pointer-events: none;
}