

.App {
    height: 100vh;
    overflow-y: auto;
}

.comment-section {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    gap: 1rem;
}


.comment-card {
    display: flex;
    flex-direction: column;
}


.comment-card__header {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}


.comment-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.comment-input {
    position: sticky;
    margin-top: auto;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;

    border-radius: 8px;
    padding-bottom: 60px;
}


.input-field {
    width: 100%;
}

.delete-comment-icon {

    &:hover {
        fill: var(--error-color);
        cursor: pointer;
    }
}