


.comment-section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    gap: 1rem;
}


.comment-card {
    display: flex;
    flex-direction: column;
}


.comment-card__header {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}


.comment-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.comment-input {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -20%);
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.input-field {
    width: 100%;
}