


.create-chat {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}


.participants-section {
    overflow-y: scroll;
    background-color: var(--background-color);
    max-width: 800px;
}

.create-chat section {
    width: 80%;
    margin: 0 auto;
}


.selectable-user-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }
}


.create-chat-header {
    display: flex;
    flex-direction: column;
    max-width: 800px;

    > div {
        display: flex;
    }

    input {
        font-family: inherit;
        border: none;
        outline: none;
        margin: 0 1rem;
    }
}

.participants-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: fit-content;
    flex-wrap: wrap;

    > div {
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--accent-color);
        color: white;
        padding: 0.1rem;
        border-radius: 5px;
        height: fit-content;
        align-self: center;
        font-size: inherit;


        svg:hover {
            cursor: pointer;
            fill: var(--error-color)
        }
    }
}


.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    gap: 8px;
    font-size: 14px;
}

.custom-checkbox input {
    display: none;
}

.custom-checkbox .checkmark {
    width: 18px;
    height: 18px;
    border: 2px solid var(--light-grey);
    border-radius: 4px;
    display: inline-block;
    position: relative;
    transition: all 0.2s;
}

.custom-checkbox input:checked + .checkmark {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.custom-checkbox .checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked + .checkmark::after {
    display: block;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-label {
    margin-left: 4px;
}
