

.post {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 400px;
}


.post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    h2 {
        font-size: 1.5rem;
        font-weight: normal;
    }
}

.username-title {
    transition: var(--default-transition);
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}


.post-body {

    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    img {
        object-fit: contain;
        width: 100%;
        pointer-events: none;
    }
}


.post-interactions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    margin: 0.5rem;

    div {
        gap: 0.2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}