



.profile {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    gap: 1rem;

    max-width: 1200px;
}


.profile-header {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.profile-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-followers {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    width: 100%;
    margin: 0 2rem;

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-size: 1.2rem;

        p {
            margin: 0;
        }
    }

    button {
        grid-area: 2 / 1 / 2 / 5;
    }
}


.profile-content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
}


.profile-content-grid article {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: var(--default-transition);
}

.profile-content-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: var(--default-transition);
}

.profile-content-grid article:hover img {
    scale: 1.02;
}


.user-avatar-select-picture, .user-avatar-select-picture-default {
    border-radius: 50%;
    position: relative;
    inset: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;


    transition: var(--default-transition);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    svg {
        opacity: 0;
        transition: var(--default-transition);
    }
}


.user-avatar-select-picture {
    &:hover {
        svg {
            opacity: 1;
            fill: var(--accent-color)
        }

        opacity: 0.5;
    }
}

.user-avatar-select-box {
    border-radius: 50%;
    aspect-ratio: 1 / 1;

    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.user-avatar-select-box button {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
}




.bio-input {
    display: flex;
    width: 100%;
    overflow: hidden;
    border: 1px solid var(--accent-color);
    border-radius: 0.5rem;

    &:has(textarea:focus-within) {
        transition: var(--default-transition);
        border: 1px solid var(--accent-color);
    }
}

.bio-input textarea {
    width: 100%;
    resize: none;
    padding: 8px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    outline: none;
}


.buttonContainer {
    grid-area: 2 / 1 / 2 / 6;
    width: 100%;


    button {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        transition: var(--default-transition);

        &:hover {
            scale: 1.03;
        }
    }
}

.edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cancel-button {
    svg {
        fill: var(--error-color)
    }
}
.archive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}

.button-container {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.button-container button {
    flex: 1;
    width: 50%;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s;

    &:focus {
        outline: none;
    }
}

.active-slider-container {
    width: 100%;
    position: relative;
    height: 2px;
    margin-top: 4px;
    overflow: hidden;
}

.active-slider {
    border-radius: 5px;
    position: absolute;
    height: 2px;
    background-color: var(--accent-color);
    transition: left 0.3s ease, width 0.3s ease;
    top: 0;
    left: 0;
}


.follow-message-container {
    grid-area: 2 / 1 / 2 / 6;
    width: 100%;

    button {
        width: 50%;
    }
}
