


.start {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.start-logo {
    font-size: clamp(5rem, 6rem, 8rem);
}


.start-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-section, .create-section {
    display: flex;
    flex-direction: column;

    span {
        margin: auto auto 0 auto;
        align-self: flex-end;
        justify-self: flex-end;
    }

    button {
        width: 100%;
    }
}


.login-section, .create-section {
    padding: 1rem;
    box-shadow: var(--soft-box-shadow);
    border-radius: var(--border-radius);
    min-width: 200px;

    h1 {
        margin: 10px 0;
    }

    h1, h4 {
        text-align: center;
    }

    span {
        text-align: center;

        & a:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.start-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mock-iphone {
    background-color: transparent;
    width: fit-content;
    object-fit: contain;
}


.google-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: center;

    h4 {
        margin: 0;
    }

    svg {
        height: 25px;
        width: auto;
    }
}


.company-logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1, h2 {
        margin: 0;
    }


    h2 {
        font-size: 1.5rem;
    }
}



.checks {
    opacity: 0;
    transition: opacity var(--default-transition);
    color: var(--error-color);


    svg {
        fill: var(--error-color);
    }
}


.show {
    opacity: 1;
}


.checks {
    display: flex;
    flex-direction: column;

    > div {
        display: flex;
        align-items: center;

        p {
            margin: 0.5rem;
        }

        > div {
            display: flex;
            align-items: center;

            p {
                margin: 0.5rem;
            }
        }
    }

    > div:last-of-type {
        margin-bottom: 1rem;
    }
}


.error-msg {
    color: var(--error-color);
    svg {
        fill: var(--error-color) !important;
    }
}


.approved {
    color: var(--approved-color);
    svg {
        fill: var(--approved-color) !important;
    }
}

.approved svg {
    fill: var(--approved-color) !important;
}